# Xcode
DerivedData/
build/
*.pbxuser
!default.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xcuserstate

# macOS
.DS_Store

# SwiftPM
.build/
.swiftpm/xcode/package.xcworkspace/xcuserdata/ 